/**
 * COMPONENT : Pagination.jsx
 */
#filter {
  width: 100%;
}
header .spacer {
  display: flex;
  align-items: center;
  width: 100%;
}
header .spacer > div {
  width: 33%;
  text-align: center;
}
header h3 {
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid var(--app-border);
  width: min-content;
}
header h3:hover {
  background-color: var(--app-hover);
}
header h3:active {
  background-color: var(--app-background);
}
#options {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#options section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  margin: 10px;
}
#options section p {
  font-size: .75rem;
  font-weight: lighter;
  padding: 10px;
}
#options section > div {
  font-size: .75rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 4px;
  padding: 10px;
  border: 1px solid var(--app-border);
}
#selector > div {
  width: 14px;
}
#options section > div:hover {
  background: dodgerblue;
}
.active {
  background: dodgerblue;
}
.nav {
  cursor: pointer;
}
.nav:hover {
  color: blue;
}