/**
 * COMPONENT : Header.js
 */
/* Responsive layout */
@media screen and (max-width: 999px) {
  header {
    width: 100%!important;
  }
  header h1 {
    font-size: 3rem!important;
    transform: none!important;
  }
  #title {
    flex-direction: column-reverse!important;
  }
  #options {
    flex-wrap: wrap;
  }
  #options section {
    flex-wrap: wrap;
    margin: 0!important;
    width: 100%!important;
    margin-bottom: 10px!important;
  }
  #options section > p:not(.nav) {
    width: 100%!important;
    text-align: left;
  }
}
/* Desktop layout */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}
header h1 {
  margin: 0;
  font-size: 6rem;
  font-family: 'baby_dollregular';
  font-weight: lighter;
  transform: translateY(-60px);
  background-color: var(--app-background);
  background-image: linear-gradient(90deg, #00ffcc, #ffea00, #f262ff);
  letter-spacing: -5px;
  filter: drop-shadow(0 2px 4px rgb(41,41,41, .5));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
#title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logo {
  position: relative;
  background: url('../../img/bYoda1_2.png') no-repeat;
  background-blend-mode: multiply;
  background-size: contain;
  height: 223px;
  width: 250px;
  margin-top: 20px;
  cursor: pointer;
}
#logo::after {
  position: absolute;
  content: '';
  inset: 0;
  background: url('../../img/bYoda2_2.png') no-repeat;
  background-size: contain;
  transition: transform .3s ease-in-out .1s;
}
#logo:hover::after {
  transform: rotate(6deg);
}