/**
 * COMPONENT : Header.js
 */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}
header h1 {  
  margin: 3rem;
  font-size: 3rem;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}
#logo {
  position: relative;
  background: url('../../img/bYoda1_2.png') no-repeat;
  background-size: contain;
  height: 180px;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
}
#logo::after {
  position: absolute;
  content: '';
  inset: 0;
  background: url('../../img/bYoda2_2.png') no-repeat;
  background-size: contain;
  transition: transform .3s ease-in-out .1s;
}
#logo:hover::after {
  transform: rotate(6deg);
}