/**
 * COMPONENT : MovieCard.js
 */

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 260px;
  border: 2px solid white;
  padding: 15px;
  margin: 10px;
  background: antiquewhite;
  color: rgb(41, 41, 41);
  filter: drop-shadow(0 0 4px silver);
}
.item *:not(.ratio-bar, .ratio-number, img) {
  width: 100%;
}
.item h1 {
  font-size: 1.5rem;
  text-align: center;
}
.like-count {
  display: flex;
  width: auto!important;
  margin-left: auto;
}
.item img {
  cursor: pointer;
  margin-right: 4px;
}
.item img:nth-child(3) {
  margin-left: 10px;
  margin-top: 5px;
  transform: rotate(180deg);
}