/**
 * COMPONENT : Page.js
 */
 @media screen and (max-width: 999px) {
  #movie-grid {
    width: 100%!important;
    transform: translateY(-270px)!important;
  }
  #movie-grid.visible {
    transform: translateY(0)!important;
  }
  .item {
    width: 100%!important;
    margin: 10px 30px!important;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
#movie-grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1000px;
  background-color: royalblue;
  transform: translateY(-60px);
  transition: all .2s ease-in-out;
}
#movie-grid.visible {
  transform: translateY(0);
}