/**
 * COMPONENT : Ratio.js
 */
.ratio-bar {
  position: relative;
  height: 4px;
  width: 100px;
  margin: 10px 0;
  background: silver;
}
.ratio-bar::before {
  position: absolute;
  left: 0;
  content: '';
  height: 4px;
  width: var(--width);
  background: lightslategrey;
}
.ratio-number {
  margin-left: 10px;
  width: auto;
}