/**
 * Title : CUTE MOVIE APP
 * Author : JEAN-BAPTISTE PELLIER
 * Tags : ES6 / REACT APP / ASYNC AWAIT
 */

/* 1. GENERAL SETTINGS
________________________________________________________ */
body {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 100vh;
  background: linear-gradient(royalblue, midnightblue);
  color: white;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}