/**
 * Title : CUTE MOVIE APP
 * Author : JEAN-BAPTISTE PELLIER
 * Tags : ES6 / REACT APP / ASYNC AWAIT
 */

/* 1. GENERAL SETTINGS
________________________________________________________ */
:root {
  --app-primary: white;
  --app-secondary: rgb(41,41,41);
  --app-background: royalblue;
  --app-hover: dodgerblue;
  --app-border: silver;
}
@font-face {
  font-family: 'baby_dollregular';
  src: url('fonts/baby-doll-webfont.woff2') format('woff2'),
       url('fonts/baby-doll-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background: var(--app-background);
  color: var(--app-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}